language: php

matrix:
  include:
    - php: 7.2
    - php: 7.3
      env: ANALYSIS='true'
    - php: 7.4

  allow_failures:
    - php: nightly

before_script:
  - composer install -n

script:
  - make test

after_success:
  - bash <(curl -s https://codecov.io/bash)